@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Libre+Baskerville&family=Poppins&display=swap");
/******** Universal *********/
html {
  padding: env(safe-area-inset);
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.offset:before {
  content: "";
  height: 62px;
  margin-top: -62px;
  display: block;
}

h3,
h4,
h5,
h6 {
  font-family: 'Heebo', sans-serif;
}

h1,
h2 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-underline {
  width: 3rem;
  height: 0.25rem;
  background-color: #999;
  margin: 1rem auto 5rem auto;
}

.heading-underline-yellow {
  width: 3rem;
  height: 0.25rem;
  background-color: #e3dabb;
  margin: 1rem auto 5rem auto;
}

.sub-underline {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #999;
  margin: 1rem auto 2rem auto;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: darkred;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  opacity: .8;
}

#myBtn:hover {
  background-color: crimson;
}

.arrow {
  text-align: center;
}

.fab {
  color: #111 !important;
  font-size: 1.45rem;
  cursor: pointer;
}

.fab:hover {
  opacity: .5;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

/******** Nav *********/
.andover-logo {
  width: 150px;
  padding-left: 0;
}

.fa-bars {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #73808a;
}

.nav-link {
  color: ghostwhite !important;
  position: relative;
  font-size: 1.05rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

/******** Hero ********/
.header-one {
  background-image: url(../img/mobile-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #cccccc;
  height: 100vh;
}

.header-one h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 60%;
}

.phone-header {
  width: 85%;
  margin: auto;
}

.header-two {
  display: none;
}

.logo-head {
  position: relative;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  -webkit-transition: opacity ease-out 1.7s;
  transition: opacity ease-out 1.7s;
  left: 0;
  top: 0;
  position: absolute;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

.carousel.carousel-fade .carousel-item:first-child {
  top: auto;
  position: relative;
  -webkit-transition: opacity ease-out 1.7s;
  transition: opacity ease-out 1.7s;
}

.carousel.carousel-fade .carousel-item:second-child {
  top: auto;
  position: relative;
  -webkit-transition: opacity ease-out 1.7s;
  transition: opacity ease-out 1.7s;
}

.carousel {
  -webkit-transition-duration: 0.8s ease-in;
          transition-duration: 0.8s ease-in;
}

/******** Portfolio *****/
#portfolio {
  display: block;
  padding: 150px 0 50px 0;
  min-height: 100vh;
}

#portfolio .title {
  font-size: 3rem;
  text-align: center;
}

#portfolio h2 {
  color: black;
  font-size: 2.25rem;
  text-align: left;
}

#portfolio h4 {
  color: #1c4966;
  padding-bottom: 10px;
  font-size: 1.75rem;
}

#portfolio p {
  color: black;
  font-size: 1.15rem;
}

.cover {
  width: 65%;
  height: auto;
  margin: auto;
}

.hr-line {
  border-top: 3px solid #d9d9d6;
  margin: 15px 0;
}

.ret-btn {
  background-color: #2d3945;
  color: white;
  border-radius: 50px;
  padding: 6px 18px;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: .90rem;
}

.whl-btn {
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 6px 18px;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: .90rem;
}

.btns {
  display: inline-block;
}

/******** About ********/
#about {
  min-height: 100vh;
  width: 100%;
  padding: 150px 0 0 0;
  margin-bottom: 100px;
}

address {
  text-align: left;
  font-weight: 500;
}

.hr-about {
  border-top: 2px solid black;
}

.card {
  border: none;
  background-color: white;
  color: black;
}

.card {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 7px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 7px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 5px 9px rgba(0, 0, 0, 0.06);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 5px 9px rgba(0, 0, 0, 0.06);
}

/*===== BRANDS =====*/
#brands {
  background-color: #8cbfc4;
  color: white;
  width: 100%;
  padding: 100px 0 100px 0;
}

/*===== NEWS =======*/
#news {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  padding: 150px 0 100px 0;
}

#news .card-body {
  text-align: center;
  background-color: white !important;
  font-family: meta;
}

.card-footer {
  border: none;
  background-color: #aab8c5 !important;
}

.news-btn {
  background-color: #2d3945;
  color: white;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
}

/******** Careers ******/
#careers {
  width: 100%;
  min-height: 100vh;
  padding: 150px 0 100px 0;
  background-color: ghostwhite;
}

.img-hide {
  display: none;
}

/*===== CONTACT =====*/
#contact {
  background-color: #2d3945;
  color: white;
  margin: 0;
  padding: 20px 0 30px 0;
}

.contact-title {
  padding-top: 50px;
  font-size: 2.10rem;
  font-weight: normal;
}

#contact h4 {
  padding-bottom: 25px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

#contact .heading-underline {
  width: 5rem;
  height: 0.2rem;
  background-color: #aab8c5;
  margin: 1rem auto;
}

/*===== FOOTER =====*/
footer {
  margin-top: 0;
  background-color: #2d3945;
  color: white;
}

/******** Media Queries *******/
/*---Small (sm) devices (landscape phones, 576px and up)----*/
/*----Medium (md) devices (tablets, 768px and up)----*/
@media (min-width: 768px) {
  .header-two {
    display: none;
  }
  .logo {
    width: 80%;
    margin: auto;
  }
}

/*---Large (lg) devices (desktops, 992px and up)---*/
@media (min-width: 992px) {
  /** nav **/
  .navbar {
    background-color: white;
    padding: 2px 10px;
  }
  .andover-logo {
    width: 80%;
    padding: 5px 0 5px 100px;
  }
  .navbar-nav .nav-link:hover {
    color: #C0C4c7 !important;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
  .nav-item {
    padding-left: 12px;
  }
  .nav-link {
    color: #2d3945 !important;
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  /*** hero ***/
  .header-one {
    display: none;
  }
  .header-two {
    color: white;
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 85px;
  }
  .heading-underline {
    width: 5rem;
    height: 0.25rem;
    margin: 1rem auto 5rem auto;
  }
  .title {
    font-size: 2.5rem;
    text-align: center;
  }
  .carousel {
    -webkit-transition-duration: 0.8s ease;
    transition-duration: 0.8s ease;
  }
  #hero {
    background-color: #8cbfc4;
    min-height: 100vh;
    padding-bottom: 50px;
  }
  .header-two h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
  }
  .pad-xy {
    padding: 3px 3px;
  }
  .bottom {
    padding: 3px 3px 0 3px;
  }
  #myBtn {
    bottom: 20px;
    right: 20px;
    opacity: 1;
  }
  #locations {
    background-color: white;
    padding-top: 30px;
  }
  /*about*/
  .cover {
    width: 90%;
    height: auto;
  }
  /**career**/
  .img-hide {
    display: block;
  }
}

/*---Extra (xl) large devices (large desktops, 1200px and up)----*/
@media (min-width: 1200px) {
  .navbar {
    padding: 0px 10px;
  }
}
/*# sourceMappingURL=styles.css.map */