/*===== VARIABLES =======*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Poppins:wght@500&family=Roboto&display=swap');
/*============= RESETS =============*/

/*-- iPhone X Remove Gutters --*/
html {
  padding: env(safe-area-inset);
  scroll-behavior: smooth;
  background-color: ivory;
  font-family: 'Poppins', sans-serif;
}
/*============= GLOBAL ==========*/
.offset:before {
  content: "";
  height: 62px;
  margin-top: -62px;
  display: block;
}
.title{
  font-size:2.5rem;
  text-align:center;
  
}

  


  


.heading-underline {
  width: 5rem;
  height: 0.25rem;
  background-color: black;
  margin: 1rem auto 5rem auto;
  
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: firebrick;
  cursor: pointer;
 
  
}

#myBtn:hover {
  color: indianred;
}
.arrow {
  text-align: center;
  padding-top: 2.5rem;
}
.fab {
  cursor: pointer;
}
.fab:hover {
  color: darkgrey;
  transition-duration: 0.7s;
}
/*============= NAVIGATION =============*/
.navbar {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background-color:#E5E5E5;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-nav li {
  padding-right: 0.8rem;
}
.navbar-nav .nav-link {
  padding-top: 0.8rem;
  color: black;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color:#7f7f7f;
}
.navbar-brand {
  color: black;
}

.andover-logo{
 width:180px;
}

#home .fas {
  color: white;
  font-size: 1.6rem;
}

/*============= HEADER =============*/
.header-one {
  position: relative;
  min-height:100vh;
  width: 100%;
  padding-top:65px;
}
.header-one h2{
  font-size: 1.75rem;
  font-weight:300;
  padding:10px;


}

.phone-head{
  width:85%;
  margin:auto;
}


.caption {
  top: 40%;
  position: absolute;
  text-align: center;
  color: whitesmoke;
  font-family: 'Redressed', cursive;
}

.header-two {
  display: none;



}
.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out 1.7s;
  left: 0;
  top: 0;
  position: absolute;
}
.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}
.carousel.carousel-fade .carousel-item:first-child {
  top: auto;
  position: relative;
  transition: opacity ease-out 1.7s;
}
.carousel.carousel-fade .carousel-item:second-child {
  top: auto;
  position: relative;
  transition: opacity ease-out 1.7s;
}




/*============= PORTFOLIO =============*/

#portfolio {
  display: block;
  padding:100px 0 100px 0;
  min-height:auto;
  background-color:snow;
}

.soc {
  font-size: 1.75rem;
  color: brown;
}
.soc-2 {
  font-size: 1.75rem;
  color: black;
}
.hr-line {
  border-top:3px solid black;
  margin: 25px 0;
}
.ret-btn {
  background-color: black;


  color: white;
  border: 2px solid black;
  margin-left: 20px;
}
.whl-btn:hover,
.ret-btn:hover {
  background-color: darkgray !important;
  color: black;
  transition-duration: 0.7s;
}
.whl-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-left: 20px;
  
}
/*============= ABOUT US ==========*/
#about{
  min-height:auto;
  width:100%;
  padding:100px 0 100px 0;
  
}
 


/*============= NEWS =============*/
#news{
  height:auto;
  padding:100px 0 100px 0;
}
/*============= CAREERS =============*/
#careers {
  width: 100%;
  background-color:snow;
  padding:100px 0 100px 0;
  
}

/*============= CONTACT =============*/
#contact {
  background-color: black;
  color: white;
  margin: 50px 0 0 0;
}
#contact h2 {
  padding-top: 10px;
  font-size: 2.75rem;
  font-weight: normal;
}
#contact h4 {
  padding-bottom: 25px;
  font-weight: 400;
}
#contact .heading-underline {
  width: 5rem;
  height: 0.1rem;
  background-color: white;
  margin: 1rem auto;
}
/*============= FOOTER  =============*/
footer{
  margin-top:0;
  background-color: black;
  color:ghostwhite;
}

/*============= MEDIA QUERIES =============*/

/*---Small (sm) devices (landscape phones, 576px and up)----*/
@media (min-width: 576px) {
  
}

/*----Medium (md) devices (tablets, 768px and up)----*/
@media (min-width: 768px) {
  .header-two {
    display: none;
  }
  .logo {
    width: 80%;
    margin: auto;
  }
}

/*---Large (lg) devices (desktops, 992px and up)---*/
@media (min-width: 992px) {
  .header-one {
    display: none;
  }
  .header-two {
    display: block;
    position: relative;
    width: 100%;
    height:auto;
    padding-top:66px;
  }
  .title{
    font-size:3rem;
    text-align:center;
    
  }
  .carousel {
    transition-duration: 0.8s ease;
  }
  /** nav **/
  .navbar {
    padding: 2px 25px;
  }
  .navbar-nav .nav-link:hover {
    color: black;
  }
  .nav-link {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: black;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 650ms;
  }

  .nav-link:hover::before {
    transform: scaleX(1);
  }
  .andover-logo{
    width:225px;
   }
   

  /*--heading--*/

  .head-hide {
    display: none;
  }
  .pad-xy {
    padding: 3px 3px;
  }

  .arrow {
    text-align: center;
    padding-top: 2.5rem;
  }
  .hr-line {
    margin: 70px 0;
  }
  #myBtn {
    bottom: 20px;
    right: 20px;
  }

/*-- portfolio --*/
/*-- about --*/

/*-- contact --*/
#contact h4 {
  padding-bottom: 75px;
  font-weight: 400;
}

}
/*---Extra (xl) large devices (large desktops, 1200px and up)----*/
@media (min-width: 1200px) {
}
